[Unit]
Description=Start CoreOS essentials
# Docker can't start without the stateful partition block docker until mounted
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/coreos_startup
StandardOutput=journal+console

[Install]
WantedBy=basic.target
