[Unit]
Description=Update Engine

[Service]
ExecStart=/usr/sbin/update_engine -foreground -logtostderr
BlockIOWeight=100

[Install]
WantedBy=multi-user.target
