# Rules to make easy to predict/remember device names on cloud providers.

ACTION=="remove", GOTO="cloud_storage_end"
SUBSYSTEM!="block", GOTO="cloud_storage_end"

# Google GCE by-id
KERNEL=="sd*|vd*", ENV{ID_VENDOR}=="Google", ENV{ID_MODEL}=="PersistentDisk", ENV{ID_SERIAL_SHORT}=="?*", ENV{DEVTYPE}=="disk", SYMLINK+="disk/by-id/google-$env{ID_SERIAL_SHORT}"
KERNEL=="sd*|vd*", ENV{ID_VENDOR}=="Google", ENV{ID_MODEL}=="PersistentDisk", ENV{ID_SERIAL_SHORT}=="?*", ENV{DEVTYPE}=="partition", SYMLINK+="disk/by-id/google-$env{ID_SERIAL_SHORT}-part%n"

# TODO: Anyone else support friendly names?

LABEL="cloud_storage_end"
