[Unit]
Description=CoreOS Coordination

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/coreos-c10n
Restart=on-failure

[Install]
WantedBy=multi-user.target
