[Unit]
Description=coreos-cloudinit for /usr/share/oem/cloud-config.yml
Requires=usr-share-oem.mount
Requires=dbus.service
After=usr-share-oem.mount
After=dbus.service
ConditionPathExists=/usr/share/oem/cloud-config.yml

[Service]
ExecStart=/usr/bin/coreos-cloudinit --from-file=/usr/share/oem/cloud-config.yml

[Install]
WantedBy=multi-user.target
