[Unit]
Description=Generate /run/issue
Before=systemd-user-sessions.service
After=sshd-keygen.service

[Service]
Type=oneshot
ExecStart=/usr/lib/coreos/issuegen
