[Unit]
Description=Generate ld.so.cache
DefaultDependencies=false
After=local-fs.target systemd-tmpfiles-setup.service
Before=sysinit.target
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/ldconfig
