[Unit]
DefaultDependencies=no
Wants=resize-state.service
After=resize-state.service
Conflicts=umount.target
Before=local-fs.target umount.target
ConditionKernelCommandLine=!coreos.diskless
ConditionVirtualization=!container

# TODO(philips): remove once everyone is amd64-usr
ConditionPathIsMountPoint=!/usr

[Mount]
What=/dev/disk/by-label/STATE
Where=/media/state
Options=commit=600,data=ordered
Type=ext4
FsckPassNo=0
