# Normally systemd-remount-fs does this but only if /usr is in fstab.
# Since that is not the case in CoreOS we need this instead.

[Unit]
Description=Remount /usr File System
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-fsck-root.service systemd-remount-fs.service
Before=local-fs-pre.target local-fs.target shutdown.target
Wants=local-fs-pre.target
ConditionVirtualization=!container
ConditionPathIsMountPoint=/usr
ConditionPathIsReadWrite=!/usr

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,rw /usr
