[Unit]
Description=Resize STATE partition
DefaultDependencies=no
# systemd auto-generates device units based on path but escapes get
# kinda ugly. http://0pointer.de/blog/projects/instances.html
Requires=dev-disk-by\x2dlabel-STATE.device
After=dev-disk-by\x2dlabel-STATE.device
ConditionKernelCommandLine=!state=tmpfs:
ConditionKernelCommandLine=!state=tmpfs
ConditionVirtualization=!container
# TODO(philips): remove once everyone is amd64-usr
ConditionPathIsMountPoint=!/usr

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/cgpt resize LABEL=STATE
StandardOutput=journal+console
