[Unit]
Description=Generate sshd host keys
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
ExecStart=/usr/lib/coreos/sshd_keygen
