[Unit]
Description=Update local time over HTTPS

[Service]
# TODO: use api.core-os.net. Unfortunatly, tlsdate doesn't like it for some reason.
ExecStart=/usr/bin/tlsdated -- -l -H encrypted.google.com -C /etc/ssl/certs/
WantedBy=default.target
