[Unit]
Description=CoreOS essentials
# Filesystems!
Wants=resize-state.service
Wants=media-state.mount
Wants=init-state.service
Wants=usr-share-oem.mount
Wants=home.mount
Wants=var.mount
Wants=srv.mount
Wants=opt.mount
Wants=var-run.mount
Wants=dev-mode.service
# TODO(marineam): Does anything actually need this?
Wants=media.mount

# Services!
Wants=dhcpcd.service
Wants=sshd-keygen.service
Wants=sshd.socket
Wants=update-engine.service

[Install]
WantedBy=multi-user.target
