[Unit]
Description=Start CoreOS essentials
Wants=mnt-stateful_partition.mount
Wants=usr-share-oem.mount
# Docker can't start without the stateful partition block docker until mounted
Before=docker.service
Before=systemd-rest.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/sbin/coreos_startup
StandardOutput=journal+console

[Install]
WantedBy=basic.target
