[Unit]
Description=CoreOS essentials
# Filesystems!
Wants=resize-state.service
Wants=media-state.mount
Wants=init-state.service
Wants=usr-share-oem.mount
Wants=home.mount
Wants=opt.mount
Wants=srv.mount
Wants=tmp.mount
Wants=var-run.mount
Wants=var.mount
Wants=dev-mode.service
# TODO(marineam): Does anything actually need this?
Wants=media.mount

[Install]
WantedBy=basic.target
