[Unit]
DefaultDependencies=no
Wants=local-fs-pre.target
After=local-fs-pre.target
Wants=resize-state.service
After=resize-state.service
Conflicts=umount.target
Before=umount.target
Before=local-fs.target
ConditionVirtualization=!container

[Mount]
What=/dev/disk/by-label/STATE
Where=/media/state
Options=commit=600,data=ordered
Type=ext4
FsckPassNo=0
