[Unit]
Description=Expand STATE partition
DefaultDependencies=no
# systemd auto-generates device units based on path but escapes get
# kinda ugly. http://0pointer.de/blog/projects/instances.html
Requires=dev-disk-by\x2dlabel-STATE.device
After=dev-disk-by\x2dlabel-STATE.device
Wants=local-fs-pre.target
Before=local-fs-pre.target
ConditionVirtualization=!container

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/coreos/resize_state /dev/disk/by-label/STATE
StandardOutput=journal+console
