[Unit]
Requires=init-state.service
After=init-state.service
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/media/state/overlays/srv
Where=/srv
Type=bind
Options=bind
