[Unit]
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
ConditionVirtualization=!container

[Mount]
What=/dev/disk/by-label/OEM
Where=/usr/share/oem
Options=nodev,commit=600
Type=ext4
FsckPassNo=0
