[Unit]
Requires=init-stateful_partition.service
After=init-stateful_partition.service
Conflicts=umount.target
Before=local-fs.target umount.target
# These units are installed with systemd
Wants=var-run.mount
Before=var-run.mount
Wants=var-lock.mount
Before=var-lock.mount

[Mount]
What=/mnt/stateful_partition/var_overlay
Where=/var
Type=bind
Options=bind
